.markdownContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.markdownContainer>ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2.5rem;
}

.markdownContainer>code {
    background-color: rgb(240, 240, 240);
    padding: 0.3rem;
    padding-top: 0.35rem;
    border-radius: 0.5rem;
    clear: left;
    float: left;
}

.markdownContainer>hr {
    border: 1px solid lightgrey;
}

.articleContainer {
    position: relative;
    padding: 2rem;
    border-radius: 0.5rem;
}
.date {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.articleContainer>p:first-child {
    text-align: right;
    padding-bottom: 0.5rem;
}

@media screen and (max-width: 650px) {
    .markdownContainer>ol {
        padding-left: 1.5rem;
    }

    .articleContainer {
        padding: 1rem;
        border-radius: 0;
        border-right: 0;
        border-left: 0;
    }

}
