body {
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(84, 82, 94);
}
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
div {
    background-color: white;
}

@media screen and (max-width: 650px) {
   main {
        padding: 1rem 0;
    }
}
