.navBar {
    width: 100%;
    background-color: transparent;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.navArea {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
}

.center {
    justify-content: center;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.navItem {
    height: 100%;
    text-decoration: none;
    color: inherit;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItem:hover {
    text-decoration: black underline;
}

.title {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: auto;
}
.phoneToggle {
    display: none;
    width: 5rem;
    margin: 1rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
}
.phoneToggle:hover {
    background-color: lightgrey;
    cursor: pointer;
}


@media screen and (max-width: 650px) {

    .navBar {
        flex-direction: column;
        height: fit-content;
        justify-content: left;
        align-items: flex-start;
    }
    .navArea {
        justify-content: left;
        height: 4rem;
        width: 100%;
        border-top: 1px solid grey;
    }
    .navArea:last-child {
        border-bottom: 1px solid grey;
    }
    .center {
        padding: 1rem;
    }
    .navArea * {
        border: none;
    }
    .navBar[data-visible="false"] .navArea {
        display: none;
    }
    .phoneToggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
