.input,
.select {
    height: 2.5rem;
    background-color: white;
    border: 2px inset whitesmoke;
    padding: 0.5rem;
}

.input {
    border-radius: none;
}

.input:focus {
    outline: 2px solid black;
}

.select {
    background-color: white;
}
.select:hover {
    text-decoration: underline;
}

.button {
    background-color: white;
}

.button:hover {
    cursor: pointer;
    background-color: lightgrey;
}
.button:focus {
    outline: none
}
