.input,
.select {
    height: 2.5rem;
    background-color: white;
    border: 1px solid grey;
    padding: 0.5rem;
}

.input {
    border-radius: none;
}

.input:focus {
    outline: 1px solid black;
}

.select {
    background-color: white;
}
.select:hover {
    text-decoration: underline;
}

.button {
    background-color: white;
}

.button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}
