.articlesContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
    background-color: transparent;
    max-width: 100svw;
} 
.article {
    display: grid;
    padding: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header date"
        "image image"
        "description description"
        "link link";
    border-radius: 0.5rem;
    gap: 1rem;
    width: 35rem;
    max-width: 100%;
}
.link {
    grid-area: link;
    align-self: flex-end;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: rgb(230,230,230);
    padding: 0.5rem;
    color: inherit;
    width: fit-content;
}
.link:hover {
    background-color: whitesmoke;
}
.description {
    grid-area: description;
}
.header {
    grid-area: header;
}
.date {
    grid-area: date;
    text-align: right;
}
.image {
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    grid-area: image;
}

@media screen and (max-width: 650px) {
    .articlesContainer {
        display: flex;
        flex-direction:column;
    }
    .article {
        border-radius: 0;
        width: 100svw;
    }
}
